@model DynastyRanker.ViewModels.SelectLeagueViewModel

<link href="~/css/site.css" rel="stylesheet" />

<meta charset="UTF-8">

<body class="leagueBody">

    <div class="littleGap"></div>

    <div class="sleeperID">
        <h1>Select a League</h1>

        <div class="alignCenter">
            @foreach (var league in Model.LeagueList)
            {
                <a class="greenA" href="@Url.Action("DisplayLeague", "Sleeper", new { LeagueID = league.LeagueID})">@league.LeagueName</a><br />
            }
        </div>
    </div>

</body>

